<aside>
  <div class="side-nav" [class.showSide]="navigationOpen">

    <div class="placeholder">
      creative-puzzle/info
    </div>
    <div class="side-item hideBorder">
      <div class="side-subItem hideBorder side-sub--first">
        <form class="hideHover">
          <input type="text" class="search">
          <label></label>
        </form>
      </div>
    </div>

    <div *ngFor="let elem of NavigationArray" class="side-item">
      <div class="side-subItem" (click)="openSub(elem)">{{elem.title}}</div>
      <div class="side-subItem" *ngIf="elem.sub_1 !== ''" [class.hide-side]="!elem.open" [class.show-side]="elem.open">{{elem.sub_1}}</div>
      <div class="side-subItem" *ngIf="elem.sub_2 !== ''" [class.hide-side]="!elem.open" [class.show-side]="elem.open">{{elem.sub_2}}</div>
      <div class="side-subItem" *ngIf="elem.sub_3 !== ''" [class.hide-side]="!elem.open" [class.show-side]="elem.open">{{elem.sub_3}}</div>
      <div class="side-subItem" *ngIf="elem.sub_4 !== ''" [class.hide-side]="!elem.open" [class.show-side]="elem.open">{{elem.sub_4}}</div>
      <div class="side-subItem" *ngIf="elem.sub_5 !== ''" [class.hide-side]="!elem.open" [class.show-side]="elem.open">{{elem.sub_5}}</div>
      <div class="side-subItem" *ngIf="elem.sub_6 !== ''" [class.hide-side]="!elem.open" [class.show-side]="elem.open">{{elem.sub_6}}</div>
    </div>
  </div>
</aside>

<div class="container-large">
  <header>
    <div class="parallax">
      <button class="navOpen" [class.moveMenu]="navigationOpen" (click)="openNav()">

      </button>
    </div>

  </header>

  <div class="row">
    <div *ngFor="let elem of TaskArray" class="column-ld-6 column-md-6 column-sd-12 column-xsd-12 box">
      <h1 [innerHTML]="elem.header"></h1>
      <p [innerHTML]="elem.content"></p>
      <small> posted on: {{formatDate(elem.Date)}} by {{elem.author}}</small>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="row verticalCenter">
    <div class="column-ld-3 column-md-3 column-sd-12 column-xsd-12 dark--coloured">
      <h3 style="color: white;"> Find us on </h3>
      <ul>
        <li><a href="https://facebook.de"> <label> Facebook </label> </a></li>
        <li><a href="https://facebook.de"> <label> Instagram </label> </a></li>
        <li><a href="https://facebook.de"> <label> Twitter </label> </a></li>
      </ul>
    </div>
    <div class="column-ld-9 column-md-9 column-sd-12 column-xsd-12 light--coloured">
      <h3> Stay Tuned </h3>
      <form class="stayTuned">
        <div class="row">
          <div class="column-ld-6 column-md-6 column-sd-12 column-xsd-12 ">
            <div class="input-group">
              <input type="text">
              <label> Your Full Name </label>
            </div>
          </div>
          <br/>
          <div class="column-ld-6 column-md-6 column-sd-12 column-xsd-12 ">
            <div class="input-group">
              <input type="email">
              <label> Your Email Address </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column-ld-12 column-md-12 column-sd-12 column-xsd-12 ">
            <input type="submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</footer>
