.text-red-medium {
    color: #B22330;
}

.red-medium {
    background-color: #B22330;
}

.text-orange-medium {
    color: #FE6841;
}

.orange-medium {
    background-color: #FE6841;
}

.text-yellow-medium {
    color: #E5A300;
}

.text-flatyellow-medium {
    color: #FFD752;
}

.yellow-medium {
    background-color: #E5A300;
}

.flatyellow-medium {
    background-color: #FFD752;
}

.text-green-medium {
    color: #518C50;
}

.text-swampgreen-medium {
    color: #2C5B61;
}

.green-medium {
    background-color: #518C50;
}

.swampgreen-medium {
    background-color: #2C5B61;
}

.text-blue-medium {
    color: #36577F;
}

.text-brightblue-medium {
    color: #46B29D;
}

.text-iceblue-medium {
    color: #99C1E0;
}

.blue-medium {
    background-color: #36577F;
}

.brightblue-medium {
    background-color: #46B29D;
}

.iceblue-medium {
    background-color: #99C1E0;
}

.text-purple-medium {
    color: #9077A6;
}

.purple-medium {
    background-color: #9077A6;
}

.text-grey-medium {
    color: #435A61;
}

.text-brown-medium {
    color: #635036;
}

.text-magenta-medium {
    color: #99455C;
}

.text-aqua-medium {
    color: #62C6C6;
}

.text-beige-medium {
    color: #CA9454;
}

.grey-medium {
    background-color: #435A61;
}

.brown-medium {
    background-color: #635036;
}

.magenta-medium {
    background-color: #99455C;
}

.aqua-medium {
    background-color: #62C6C6;
}

.beige-medium {
    background-color: #CA9454;
}

.text-autumnred-medium {
    color: #DD1805;
}

.text-autumngreen-medium {
    color: #323418;
}

.text-autumnyellow-medium {
    color: #F29F05;
}

.text-autumnorange-medium {
    color: #F27405;
}

.text-autumnbrown-medium {
    color: #8C4303;
}

.autumnred-medium {
    background-color: #DD1805;
}

.autumngreen-medium {
    background-color: #323418;
}

.autumnyellow-medium {
    background-color: #F29F05;
}

.autumnorange-medium {
    background-color: #F27405;
}

.autumnbrown-medium {
    background-color: #8C4303;
}

.text-camodarkgreen-medium {
    color: #474A32;
}

.text-camolightgreen-medium {
    color: #858A5E;
}

.text-camobrowngreen-medium {
    color: #CED692;
}

.text-camolightbrown-medium {
    color: #918A63;
}

.text-camodarkbrown-medium {
    color: #402F18;
}

.camodarkgreen-medium {
    background-color: #474A32;
}

.camolightgreen-medium {
    background-color: #858A5E;
}

.camobrowngreen-medium {
    background-color: #CED692;
}

.camolightbrown-medium {
    background-color: #918A63;
}

.camodarkbrown-medium {
    background-color: #402F18;
}

.text-supreme-medium {
    color: #FF1E00;
}

.supreme-medium {
    background-color: #FF1E00;
}

.text-red-lighten1 {
    color: #bd2533;
}

.red-lighten1 {
    background-color: #bd2533;
}

.text-orange-lighten1 {
    color: #fe724e;
}

.orange-lighten1 {
    background-color: #fe724e;
}

.text-yellow-lighten1 {
    color: #f2ac00;
}

.text-flatyellow-lighten1 {
    color: #ffda5f;
}

.yellow-lighten1 {
    background-color: #f2ac00;
}

.flatyellow-lighten1 {
    background-color: #ffda5f;
}

.text-green-lighten1 {
    color: #569455;
}

.text-swampgreen-lighten1 {
    color: #30636a;
}

.green-lighten1 {
    background-color: #569455;
}

.swampgreen-lighten1 {
    background-color: #30636a;
}

.text-blue-lighten1 {
    color: #395c86;
}

.blue-lighten1 {
    background-color: #3a5d88;
}

.text-brightblue-lighten1 {
    color: #4ab8a3;
}

.brightblue-lighten1 {
    background-color: #4cb9a4;
}

.text-iceblue-lighten1 {
    color: #a1c6e2;
}

.iceblue-lighten1 {
    background-color: #a3c7e3;
}

.text-purple-lighten1 {
    color: #967fab;
}

.purple-lighten1 {
    background-color: #967fab;
}

.text-supreme-lighten1 {
    color: #ff290d;
}

.supreme-lighten1 {
    background-color: #ff290d;
}

.text-supremewhite-lighten1 {
    color: #d2d2d2;
}

.supremewhite-lighten1 {
    background-color: #d2d2d2;
}

.text-grey-lighten1 {
    color: #486169;
}

.grey-lighten1 {
    background-color: #486169;
}

.text-brown-lighten1 {
    color: #6b573b;
}

.brown-lighten1 {
    background-color: #6b573b;
}

.text-magenta-lighten1 {
    color: #a24961;
}

.magenta-lighten1 {
    background-color: #a24961;
}

.text-aqua-lighten1 {
    color: #6bc9c9;
}

.aqua-lighten1 {
    background-color: #6bc9c9;
}

.text-beige-lighten1 {
    color: #cd9a5e;
}

.beige-lighten1 {
    background-color: #cd9a5e;
}

.text-autumnred-lighten1 {
    color: #e91905;
}

.autumnred-lighten1 {
    background-color: #e91905;
}

.text-autumngreen-lighten1 {
    color: #3a3d1c;
}

.autumngreen-lighten1 {
    background-color: #3a3d1c;
}

.text-autumnyellow-lighten1 {
    color: #faa60a;
}

.autumnyellow-lighten1 {
    background-color: #faa60a;
}

.text-autumnorange-lighten1 {
    color: #fa7a0a;
}

.autumnorange-lighten1 {
    background-color: #fa7a0a;
}

.text-autumnbrown-lighten1 {
    color: #984903;
}

.autumnbrown-lighten1 {
    background-color: #984903;
}

.text-camodarkgreen-lighten1 {
    color: #4e5237;
}

.camodarkgreen-lighten1 {
    background-color: #4e5237;
}

.text-camolightgreen-lighten1 {
    color: #8c9263;
}

.camolightgreen-lighten1 {
    background-color: #8c9263;
}

.text-camobrowngreen-lighten1 {
    color: #d2d99b;
}

.camobrowngreen-lighten1 {
    background-color: #d2d99b;
}

.text-camolightbrown-lighten1 {
    color: #989169;
}

.camolightbrown-lighten1 {
    background-color: #989169;
}

.text-camodarkbrown-lighten1 {
    color: #49361b;
}

.camodarkbrown-lighten1 {
    background-color: #49361b;
}

.text-red-darken1 {
    color: #a7212d;
}

.red-darken1 {
    background-color: #a7212d;
}

.text-orange-darken1 {
    color: #fe5e34;
}

.orange-darken1 {
    background-color: #fe5e34;
}

.text-yellow-darken1 {
    color: #d89a00;
}

.text-flatyellow-darken1 {
    color: #ffd445;
}

.yellow-darken1 {
    background-color: #d89a00;
}

.flatyellow-darken1 {
    background-color: #ffd445;
}

.text-green-darken1 {
    color: #4c844b;
}

.text-swampgreen-darken1 {
    color: #285358;
}

.green-darken1 {
    background-color: #4c844b;
}

.swampgreen-darken1 {
    background-color: #285358;
}

.text-blue-darken1 {
    color: #325176;
}

.blue-darken1 {
    background-color: #325176;
}

.text-brightblue-darken1 {
    color: #43ab97;
}

.brightblue-darken1 {
    background-color: #42a995;
}

.text-iceblue-darken1 {
    color: #91bcde;
}

.iceblue-darken1 {
    background-color: #8fbbdd;
}

.text-purple-darken1 {
    color: #8a6fa1;
}

.purple-darken1 {
    background-color: #8a6fa1;
}

.text-supreme-darken1 {
    color: #f21d00;
}

.supreme-darken1 {
    background-color: #f21d00;
}

.text-supremewhite-darken1 {
    color: #c6c6c6;
}

.supremewhite-darken1 {
    background-color: #c6c6c6;
}

.text-grey-darken1 {
    color: #3e5359;
}

.grey-darken1 {
    background-color: #3e5359;
}

.text-brown-darken1 {
    color: #5b4932;
}

.brown-darken1 {
    background-color: #5b4932;
}

.text-magenta-darken1 {
    color: #904157;
}

.magenta-darken1 {
    background-color: #904157;
}

.text-aqua-darken1 {
    color: #59c3c3;
}

.aqua-darken1 {
    background-color: #59c3c3;
}

.text-beige-darken1 {
    color: #c78e4a;
}

.beige-darken1 {
    background-color: #c78e4a;
}

.text-autumnred-darken1 {
    color: #d11705;
}

.autumnred-darken1 {
    background-color: #d11705;
}

.text-autumngreen-darken1 {
    color: #2a2b14;
}

.autumngreen-darken1 {
    background-color: #2a2b14;
}

.text-autumnyellow-darken1 {
    color: #e69705;
}

.autumnyellow-darken1 {
    background-color: #e69705;
}

.text-autumnorange-darken1 {
    color: #e66e05;
}

.autumnorange-darken1 {
    background-color: #e66e05;
}

.text-autumnbrown-darken1 {
    color: #803d03;
}

.autumnbrown-darken1 {
    background-color: #803d03;
}

.text-camodarkgreen-darken1 {
    color: #40422d;
}

.camodarkgreen-darken1 {
    background-color: #40422d;
}

.text-camolightgreen-darken1 {
    color: #7e8259;
}

.camolightgreen-darken1 {
    background-color: #7e8259;
}

.text-camobrowngreen-darken1 {
    color: #cad389;
}

.camobrowngreen-darken1 {
    background-color: #cad389;
}

.text-camolightbrown-darken1 {
    color: #89835e;
}

.camolightbrown-darken1 {
    background-color: #89835e;
}

.text-camodarkbrown-darken1 {
    color: #372815;
}

.camodarkbrown-darken1 {
    background-color: #372815;
}

.text-red-lighten2 {
    color: #c72736;
}

.red-lighten2 {
    background-color: #c72736;
}

.text-orange-lighten2 {
    color: #fe7c5a;
}

.orange-lighten2 {
    background-color: #fe7c5a;
}

.text-yellow-lighten2 {
    color: #ffb500;
}

.text-flatyellow-lighten2 {
    color: #ffdd6c;
}

.yellow-lighten2 {
    background-color: #ffb500;
}

.flatyellow-lighten2 {
    background-color: #ffdd6c;
}

.text-green-lighten2 {
    color: #5a9c59;
}

.text-swampgreen-lighten2 {
    color: #346b73;
}

.green-lighten2 {
    background-color: #5a9c59;
}

.swampgreen-lighten2 {
    background-color: #346b73;
}

.text-blue-lighten2 {
    color: #3c618d;
}

.blue-lighten2 {
    background-color: #3e6391;
}

.text-brightblue-lighten2 {
    color: #52bba6;
}

.brightblue-lighten2 {
    background-color: #55bca8;
}

.text-iceblue-lighten2 {
    color: #a9cbe5;
}

.iceblue-lighten2 {
    background-color: #adcde6;
}

.text-purple-lighten2 {
    color: #9d86b0;
}

.purple-lighten2 {
    background-color: #9d86b0;
}

.text-supreme-lighten2 {
    color: #ff351a;
}

.supreme-lighten2 {
    background-color: #ff351a;
}

.text-supremewhite-lighten2 {
    color: #d9d9d9;
}

.supremewhite-lighten2 {
    background-color: #d9d9d9;
}

.text-grey-lighten2 {
    color: #4d6870;
}

.grey-lighten2 {
    background-color: #4d6870;
}

.text-brown-lighten2 {
    color: #745d3f;
}

.brown-lighten2 {
    background-color: #745d3f;
}

.text-magenta-lighten2 {
    color: #ab4d67;
}

.magenta-lighten2 {
    background-color: #ab4d67;
}

.text-aqua-lighten2 {
    color: #75cdcd;
}

.aqua-lighten2 {
    background-color: #75cdcd;
}

.text-beige-lighten2 {
    color: #d0a067;
}

.beige-lighten2 {
    background-color: #d0a067;
}

.text-autumnred-lighten2 {
    color: #f61b06;
}

.autumnred-lighten2 {
    background-color: #f61b06;
}

.text-autumngreen-lighten2 {
    color: #434520;
}

.autumngreen-lighten2 {
    background-color: #434520;
}

.text-autumnyellow-lighten2 {
    color: #faaa16;
}

.autumnyellow-lighten2 {
    background-color: #faaa16;
}

.text-autumnorange-lighten2 {
    color: #fa8116;
}

.autumnorange-lighten2 {
    background-color: #fa8116;
}

.text-autumnbrown-lighten2 {
    color: #a54f04;
}

.autumnbrown-lighten2 {
    background-color: #a54f04;
}

.text-camodarkgreen-lighten2 {
    color: #56593c;
}

.camodarkgreen-lighten2 {
    background-color: #56593c;
}

.text-camolightgreen-lighten2 {
    color: #939969;
}

.camolightgreen-lighten2 {
    background-color: #939969;
}

.text-camobrowngreen-lighten2 {
    color: #d6dda5;
}

.camobrowngreen-lighten2 {
    background-color: #d6dda5;
}

.text-camolightbrown-lighten2 {
    color: #9d9770;
}

.camolightbrown-lighten2 {
    background-color: #9d9770;
}

.text-camodarkbrown-lighten2 {
    color: #533d1f;
}

.camodarkbrown-lighten2 {
    background-color: #533d1f;
}

.text-red-darken2 {
    color: #9d1f2a;
}

.red-darken2 {
    background-color: #9d1f2a;
}

.text-orange-darken2 {
    color: #fe5428;
}

.orange-darken2 {
    background-color: #fe5428;
}

.text-yellow-darken2 {
    color: #cc9100;
}

.text-flatyellow-darken2 {
    color: #ffd139;
}

.yellow-darken2 {
    background-color: #cc9100;
}

.flatyellow-darken2 {
    background-color: #ffd139;
}

.text-green-darken2 {
    color: #487c47;
}

.text-swampgreen-darken2 {
    color: #244b4f;
}

.green-darken2 {
    background-color: #487c47;
}

.swampgreen-darken2 {
    background-color: #244b4f;
}

.text-blue-darken2 {
    color: #2e4b6d;
}

.blue-darken2 {
    background-color: #2e4b6d;
}

.text-brightblue-darken2 {
    color: #40a390;
}

.brightblue-darken2 {
    background-color: #3fa08d;
}

.text-iceblue-darken2 {
    color: #89b7db;
}

.iceblue-darken2 {
    background-color: #85b5da;
}

.text-purple-darken2 {
    color: #83689c;
}

.purple-darken2 {
    background-color: #83689c;
}

.text-supreme-darken2 {
    color: #e61b00;
}

.supreme-darken2 {
    background-color: #e61b00;
}

.text-supremewhite-darken2 {
    color: #bfbfbf;
}

.supremewhite-darken2 {
    background-color: #bfbfbf;
}

.text-grey-darken2 {
    color: #394c52;
}

.grey-darken2 {
    background-color: #394c52;
}

.text-brown-darken2 {
    color: #53432d;
}

.brown-darken2 {
    background-color: #53432d;
}

.text-magenta-darken2 {
    color: #873d51;
}

.magenta-darken2 {
    background-color: #873d51;
}

.text-aqua-darken2 {
    color: #4fbfbf;
}

.aqua-darken2 {
    background-color: #4fbfbf;
}

.text-beige-darken2 {
    color: #c48841;
}

.beige-darken2 {
    background-color: #c48841;
}

.text-autumnred-darken2 {
    color: #c41504;
}

.autumnred-darken2 {
    background-color: #c41504;
}

.text-autumngreen-darken2 {
    color: #212310;
}

.autumngreen-darken2 {
    background-color: #212310;
}

.text-autumnyellow-darken2 {
    color: #d98f04;
}

.autumnyellow-darken2 {
    background-color: #d98f04;
}

.text-autumnorange-darken2 {
    color: #d96804;
}

.autumnorange-darken2 {
    background-color: #d96804;
}

.text-autumnbrown-darken2 {
    color: #733702;
}

.autumnbrown-darken2 {
    background-color: #733702;
}

.text-camodarkgreen-darken2 {
    color: #383b28;
}

.camodarkgreen-darken2 {
    background-color: #383b28;
}

.text-camolightgreen-darken2 {
    color: #767b54;
}

.camolightgreen-darken2 {
    background-color: #767b54;
}

.text-camobrowngreen-darken2 {
    color: #c6cf7f;
}

.camobrowngreen-darken2 {
    background-color: #c6cf7f;
}

.text-camolightbrown-darken2 {
    color: #827c59;
}

.camolightbrown-darken2 {
    background-color: #827c59;
}

.text-camodarkbrown-darken2 {
    color: #2d2111;
}

.camodarkbrown-darken2 {
    background-color: #2d2111;
}

.text-red-lighten3 {
    color: #d22939;
}

.red-lighten3 {
    background-color: #d22939;
}

.text-orange-lighten3 {
    color: #fe8667;
}

.orange-lighten3 {
    background-color: #fe8667;
}

.text-yellow-lighten3 {
    color: #ffb90c;
}

.text-flatyellow-lighten3 {
    color: #ffe078;
}

.yellow-lighten3 {
    background-color: #ffb90c;
}

.flatyellow-lighten3 {
    background-color: #ffe078;
}

.text-green-lighten3 {
    color: #60a35f;
}

.text-swampgreen-lighten3 {
    color: #38747b;
}

.green-lighten3 {
    background-color: #60a35f;
}

.swampgreen-lighten3 {
    background-color: #38747b;
}

.text-blue-lighten3 {
    color: #3f6694;
}

.blue-lighten3 {
    background-color: #41699a;
}

.text-brightblue-lighten3 {
    color: #59beaa;
}

.brightblue-lighten3 {
    background-color: #5ec0ad;
}

.text-iceblue-lighten3 {
    color: #b0cfe7;
}

.iceblue-lighten3 {
    background-color: #b6d3e9;
}

.text-purple-lighten3 {
    color: #a38eb5;
}

.purple-lighten3 {
    background-color: #a38eb5;
}

.text-supreme-lighten3 {
    color: #ff4026;
}

.supreme-lighten3 {
    background-color: #ff4026;
}

.text-supremewhite-lighten3 {
    color: #dfdfdf;
}

.supremewhite-lighten3 {
    background-color: #dfdfdf;
}

.text-grey-lighten3 {
    color: #536f78;
}

.grey-lighten3 {
    background-color: #536f78;
}

.text-brown-lighten3 {
    color: #7c6444;
}

.brown-lighten3 {
    background-color: #7c6444;
}

.text-magenta-lighten3 {
    color: #b1536d;
}

.magenta-lighten3 {
    background-color: #b1536d;
}

.text-aqua-lighten3 {
    color: #7ed0d0;
}

.aqua-lighten3 {
    background-color: #7ed0d0;
}

.text-beige-lighten3 {
    color: #d3a671;
}

.beige-lighten3 {
    background-color: #d3a671;
}

.text-autumnred-lighten3 {
    color: #fa230f;
}

.autumnred-lighten3 {
    background-color: #fa230f;
}

.text-autumngreen-lighten3 {
    color: #4b4e24;
}

.autumngreen-lighten3 {
    background-color: #4b4e24;
}

.text-autumnyellow-lighten3 {
    color: #faaf23;
}

.autumnyellow-lighten3 {
    background-color: #faaf23;
}

.text-autumnorange-lighten3 {
    color: #fa8823;
}

.autumnorange-lighten3 {
    background-color: #fa8823;
}

.text-autumnbrown-lighten3 {
    color: #b15504;
}

.autumnbrown-lighten3 {
    background-color: #b15504;
}

.text-camodarkgreen-lighten3 {
    color: #5d6141;
}

.camodarkgreen-lighten3 {
    background-color: #5d6141;
}

.text-camolightgreen-lighten3 {
    color: #999e70;
}

.camolightgreen-lighten3 {
    background-color: #999e70;
}

.text-camobrowngreen-lighten3 {
    color: #dae0ae;
}

.camobrowngreen-lighten3 {
    background-color: #dae0ae;
}

.text-camolightbrown-lighten3 {
    color: #a39c78;
}

.camolightbrown-lighten3 {
    background-color: #a39c78;
}

.text-camodarkbrown-lighten3 {
    color: #5c4322;
}

.camodarkbrown-lighten3 {
    background-color: #5c4322;
}

.text-red-darken3 {
    color: #921d27;
}

.red-darken3 {
    background-color: #921d27;
}

.text-orange-darken3 {
    color: #fe4a1b;
}

.orange-darken3 {
    background-color: #fe4a1b;
}

.text-yellow-darken3 {
    color: #bf8800;
}

.text-flatyellow-darken3 {
    color: #ffce2c;
}

.yellow-darken3 {
    background-color: #bf8800;
}

.flatyellow-darken3 {
    background-color: #ffce2c;
}

.text-green-darken3 {
    color: #437442;
}

.text-swampgreen-darken3 {
    color: #204247;
}

.green-darken3 {
    background-color: #437442;
}

.swampgreen-darken3 {
    background-color: #204247;
}

.text-blue-darken3 {
    color: #2b4564;
}

.blue-darken3 {
    background-color: #2b4564;
}

.text-brightblue-darken3 {
    color: #3d9c8a;
}

.brightblue-darken3 {
    background-color: #3b9785;
}

.text-iceblue-darken3 {
    color: #82b3d9;
}

.iceblue-darken3 {
    background-color: #7cafd7;
}

.text-purple-darken3 {
    color: #7d6295;
}

.purple-darken3 {
    background-color: #7d6295;
}

.text-supreme-darken3 {
    color: #d91a00;
}

.supreme-darken3 {
    background-color: #d91a00;
}

.text-supremewhite-darken3 {
    color: #b9b9b9;
}

.supremewhite-darken3 {
    background-color: #b9b9b9;
}

.text-grey-darken3 {
    color: #33454a;
}

.grey-darken3 {
    background-color: #33454a;
}

.text-brown-darken3 {
    color: #4a3c29;
}

.brown-darken3 {
    background-color: #4a3c29;
}

.text-magenta-darken3 {
    color: #7f394c;
}

.magenta-darken3 {
    background-color: #7f394c;
}

.text-aqua-darken3 {
    color: #46bcbc;
}

.aqua-darken3 {
    background-color: #46bcbc;
}

.text-beige-darken3 {
    color: #bd813b;
}

.beige-darken3 {
    background-color: #bd813b;
}

.text-autumnred-darken3 {
    color: #b81404;
}

.autumnred-darken3 {
    background-color: #b81404;
}

.text-autumngreen-darken3 {
    color: #191a0c;
}

.autumngreen-darken3 {
    background-color: #191a0c;
}

.text-autumnyellow-darken3 {
    color: #cd8604;
}

.autumnyellow-darken3 {
    background-color: #cd8604;
}

.text-autumnorange-darken3 {
    color: #cd6204;
}

.autumnorange-darken3 {
    background-color: #cd6204;
}

.text-autumnbrown-darken3 {
    color: #673102;
}

.autumnbrown-darken3 {
    background-color: #673102;
}

.text-camodarkgreen-darken3 {
    color: #313323;
}

.camodarkgreen-darken3 {
    background-color: #313323;
}

.text-camolightgreen-darken3 {
    color: #6f734f;
}

.camolightgreen-darken3 {
    background-color: #6f734f;
}

.text-camobrowngreen-darken3 {
    color: #c2cc76;
}

.camobrowngreen-darken3 {
    background-color: #c2cc76;
}

.text-camolightbrown-darken3 {
    color: #7a7453;
}

.camolightbrown-darken3 {
    background-color: #7a7453;
}

.text-camodarkbrown-darken3 {
    color: #241b0e;
}

.camodarkbrown-darken3 {
    background-color: #241b0e;
}

.text-red-lighten4 {
    color: #d73140;
}

.red-lighten4 {
    background-color: #d73140;
}

.text-orange-lighten4 {
    color: #fe9074;
}

.orange-lighten4 {
    background-color: #fe9074;
}

.text-yellow-lighten4 {
    color: #ffbd19;
}

.text-flatyellow-lighten4 {
    color: #ffe385;
}

.yellow-lighten4 {
    background-color: #ffbd19;
}

.flatyellow-lighten4 {
    background-color: #ffe385;
}

.text-green-lighten4 {
    color: #68a867;
}

.text-swampgreen-lighten4 {
    color: #3c7c84;
}

.green-lighten4 {
    background-color: #68a867;
}

.swampgreen-lighten4 {
    background-color: #3c7c84;
}

.text-blue-lighten4 {
    color: #426b9c;
}

.blue-lighten4 {
    background-color: #4570a3;
}

.text-brightblue-lighten4 {
    color: #60c1ae;
}

.brightblue-lighten4 {
    background-color: #68c3b2;
}

.text-iceblue-lighten4 {
    color: #b8d4ea;
}

.iceblue-lighten4 {
    background-color: #c0d9ec;
}

.text-purple-lighten4 {
    color: #a996ba;
}

.purple-lighten4 {
    background-color: #a996ba;
}

.text-supreme-lighten4 {
    color: #ff4b33;
}

.supreme-lighten4 {
    background-color: #ff4b33;
}

.text-supremewhite-lighten4 {
    color: #e6e5e5;
}

.supremewhite-lighten4 {
    background-color: #e6e5e5;
}

.text-grey-lighten4 {
    color: #58767f;
}

.grey-lighten4 {
    background-color: #58767f;
}

.text-brown-lighten4 {
    color: #846b48;
}

.brown-lighten4 {
    background-color: #846b48;
}

.text-magenta-lighten4 {
    color: #b55c74;
}

.magenta-lighten4 {
    background-color: #b55c74;
}

.text-aqua-lighten4 {
    color: #87d4d4;
}

.aqua-lighten4 {
    background-color: #87d4d4;
}

.text-beige-lighten4 {
    color: #d6ac7b;
}

.beige-lighten4 {
    background-color: #d6ac7b;
}

.text-autumnred-lighten4 {
    color: #fa2f1b;
}

.autumnred-lighten4 {
    background-color: #fa2f1b;
}

.text-autumngreen-lighten4 {
    color: #545728;
}

.autumngreen-lighten4 {
    background-color: #545728;
}

.text-autumnyellow-lighten4 {
    color: #fbb32f;
}

.autumnyellow-lighten4 {
    background-color: #fbb32f;
}

.text-autumnorange-lighten4 {
    color: #fb8f2f;
}

.autumnorange-lighten4 {
    background-color: #fb8f2f;
}

.text-autumnbrown-lighten4 {
    color: #be5b04;
}

.autumnbrown-lighten4 {
    background-color: #be5b04;
}

.text-camodarkgreen-lighten4 {
    color: #646847;
}

.camodarkgreen-lighten4 {
    background-color: #646847;
}

.text-camolightgreen-lighten4 {
    color: #9ea378;
}

.camolightgreen-lighten4 {
    background-color: #9ea378;
}

.text-camobrowngreen-lighten4 {
    color: #dfe4b7;
}

.camobrowngreen-lighten4 {
    background-color: #dfe4b7;
}

.text-camolightbrown-lighten4 {
    color: #a8a27f;
}

.camolightbrown-lighten4 {
    background-color: #a8a27f;
}

.text-camodarkbrown-lighten4 {
    color: #654a26;
}

.camodarkbrown-lighten4 {
    background-color: #654a26;
}

.text-red-darken4 {
    color: #871b25;
}

.red-darken4 {
    background-color: #871b25;
}

.text-orange-darken4 {
    color: #fe400e;
}

.orange-darken4 {
    background-color: #fe400e;
}

.text-yellow-darken4 {
    color: #b27f00;
}

.text-flatyellow-darken4 {
    color: #ffcb1f;
}

.yellow-darken4 {
    background-color: #b27f00;
}

.flatyellow-darken4 {
    background-color: #ffcb1f;
}

.text-green-darken4 {
    color: #3e6c3d;
}

.text-swampgreen-darken4 {
    color: #1c3a3e;
}

.green-darken4 {
    background-color: #3e6c3d;
}

.swampgreen-darken4 {
    background-color: #1c3a3e;
}

.text-blue-darken4 {
    color: #273e5b;
}

.blue-darken4 {
    background-color: #273e5b;
}

.text-brightblue-darken4 {
    color: #3a9583;
}

.brightblue-darken4 {
    background-color: #388d7d;
}

.text-iceblue-darken4 {
    color: #7aaed6;
}

.iceblue-darken4 {
    background-color: #72a9d4;
}

.text-purple-darken4 {
    color: #775d8d;
}

.purple-darken4 {
    background-color: #775d8d;
}

.text-supreme-darken4 {
    color: #cc1800;
}

.supreme-darken4 {
    background-color: #cc1800;
}

.text-supremewhite-darken4 {
    color: #b3b2b2;
}

.supremewhite-darken4 {
    background-color: #b3b2b2;
}

.text-grey-darken4 {
    color: #2e3e43;
}

.grey-darken4 {
    background-color: #2e3e43;
}

.text-brown-darken4 {
    color: #423524;
}

.brown-darken4 {
    background-color: #423524;
}

.text-magenta-darken4 {
    color: #763547;
}

.magenta-darken4 {
    background-color: #763547;
}

.text-aqua-darken4 {
    color: #41b4b4;
}

.aqua-darken4 {
    background-color: #41b4b4;
}

.text-beige-darken4 {
    color: #b37b38;
}

.beige-darken4 {
    background-color: #b37b38;
}

.text-autumnred-darken4 {
    color: #ab1304;
}

.autumnred-darken4 {
    background-color: #ab1304;
}

.text-autumngreen-darken4 {
    color: #101108;
}

.autumngreen-darken4 {
    background-color: #101108;
}

.text-autumnyellow-darken4 {
    color: #c07e04;
}

.autumnyellow-darken4 {
    background-color: #c07e04;
}

.text-autumnorange-darken4 {
    color: #c05c04;
}

.autumnorange-darken4 {
    background-color: #c05c04;
}

.text-autumnbrown-darken4 {
    color: #5a2b02;
}

.autumnbrown-darken4 {
    background-color: #5a2b02;
}

.text-camodarkgreen-darken4 {
    color: #2a2c1d;
}

.camodarkgreen-darken4 {
    background-color: #2a2c1d;
}

.text-camolightgreen-darken4 {
    color: #686c49;
}

.camolightgreen-darken4 {
    background-color: #686c49;
}

.text-camobrowngreen-darken4 {
    color: #bdc86d;
}

.camobrowngreen-darken4 {
    background-color: #bdc86d;
}

.text-camolightbrown-darken4 {
    color: #736d4e;
}

.camolightbrown-darken4 {
    background-color: #736d4e;
}

.text-camodarkbrown-darken4 {
    color: #1b140a;
}

.camodarkbrown-darken4 {
    background-color: #1b140a;
}

.text-red-lighten5 {
    color: #d93c4a;
}

.red-lighten5 {
    background-color: #d93c4a;
}

.text-orange-lighten5 {
    color: #fe9a80;
}

.orange-lighten5 {
    background-color: #fe9a80;
}

.text-yellow-lighten5 {
    color: #ffc026;
}

.text-flatyellow-lighten5 {
    color: #ffe692;
}

.yellow-lighten5 {
    background-color: #ffc026;
}

.flatyellow-lighten5 {
    background-color: #ffe692;
}

.text-green-lighten5 {
    color: #70ad6f;
}

.text-swampgreen-lighten5 {
    color: #40848d;
}

.green-lighten5 {
    background-color: #70ad6f;
}

.swampgreen-lighten5 {
    background-color: #40848d;
}

.text-blue-lighten5 {
    color: #4570a3;
}

.blue-lighten5 {
    background-color: #4976ac;
}

.text-brightblue-lighten5 {
    color: #68c3b2;
}

.brightblue-lighten5 {
    background-color: #71c7b6;
}

.text-iceblue-lighten5 {
    color: #c0d9ec;
}

.iceblue-lighten5 {
    background-color: #cadfef;
}

.text-purple-lighten5 {
    color: #af9ebf;
}

.purple-lighten5 {
    background-color: #af9ebf;
}

.text-supreme-lighten5 {
    color: #ff5640;
}

.supreme-lighten5 {
    background-color: #ff5640;
}

.text-supremewhite-lighten5 {
    color: #ececec;
}

.supremewhite-lighten5 {
    background-color: #ececec;
}

.text-grey-lighten5 {
    color: #5d7d87;
}

.grey-lighten5 {
    background-color: #5d7d87;
}

.text-brown-lighten5 {
    color: #8c714d;
}

.brown-lighten5 {
    background-color: #8c714d;
}

.text-magenta-lighten5 {
    color: #b9647c;
}

.magenta-lighten5 {
    background-color: #b9647c;
}

.text-aqua-lighten5 {
    color: #91d7d7;
}

.aqua-lighten5 {
    background-color: #91d7d7;
}

.text-beige-lighten5 {
    color: #d9b285;
}

.beige-lighten5 {
    background-color: #d9b285;
}

.text-autumnred-lighten5 {
    color: #fa3a28;
}

.autumnred-lighten5 {
    background-color: #fa3a28;
}

.text-autumngreen-lighten5 {
    color: #5c602c;
}

.autumngreen-lighten5 {
    background-color: #5c602c;
}

.text-autumnyellow-lighten5 {
    color: #fbb83c;
}

.autumnyellow-lighten5 {
    background-color: #fbb83c;
}

.text-autumnorange-lighten5 {
    color: #fb953c;
}

.autumnorange-lighten5 {
    background-color: #fb953c;
}

.text-autumnbrown-lighten5 {
    color: #ca6104;
}

.autumnbrown-lighten5 {
    background-color: #ca6104;
}

.text-camodarkgreen-lighten5 {
    color: #6c704c;
}

.camodarkgreen-lighten5 {
    background-color: #6c704c;
}

.text-camolightgreen-lighten5 {
    color: #a4a880;
}

.camolightgreen-lighten5 {
    background-color: #a4a880;
}

.text-camobrowngreen-lighten5 {
    color: #e3e7c0;
}

.camobrowngreen-lighten5 {
    background-color: #e3e7c0;
}

.text-camolightbrown-lighten5 {
    color: #ada787;
}

.camolightbrown-lighten5 {
    background-color: #ada787;
}

.text-camodarkbrown-lighten5 {
    color: #6e5129;
}

.camodarkbrown-lighten5 {
    background-color: #6e5129;
}

.text-red-darken5 {
    color: #7d1922;
}

.red-darken5 {
    background-color: #7d1922;
}

.text-orange-darken5 {
    color: #fe3602;
}

.orange-darken5 {
    background-color: #fe3602;
}

.text-yellow-darken5 {
    color: #a57600;
}

.text-flatyellow-darken5 {
    color: #ffc812;
}

.yellow-darken5 {
    background-color: #a57600;
}

.flatyellow-darken5 {
    background-color: #ffc812;
}

.text-green-darken5 {
    color: #3a6339;
}

.text-swampgreen-darken5 {
    color: #183235;
}

.green-darken5 {
    background-color: #3a6339;
}

.swampgreen-darken5 {
    background-color: #183235;
}

.text-blue-darken5 {
    color: #233852;
}

.blue-darken5 {
    background-color: #233852;
}

.text-brightblue-darken5 {
    color: #388d7d;
}

.brightblue-darken5 {
    background-color: #348475;
}

.text-iceblue-darken5 {
    color: #72a9d4;
}

.iceblue-darken5 {
    background-color: #68a3d1;
}

.text-purple-darken5 {
    color: #705886;
}

.purple-darken5 {
    background-color: #705886;
}

.text-supreme-darken5 {
    color: #bf1700;
}

.supreme-darken5 {
    background-color: #bf1700;
}

.text-supremewhite-darken5 {
    color: #acacac;
}

.supremewhite-darken5 {
    background-color: #acacac;
}

.text-grey-darken5 {
    color: #29373b;
}

.grey-darken5 {
    background-color: #29373b;
}

.text-brown-darken5 {
    color: #3a2f20;
}

.brown-darken5 {
    background-color: #3a2f20;
}

.text-magenta-darken5 {
    color: #6d3142;
}

.magenta-darken5 {
    background-color: #6d3142;
}

.text-aqua-darken5 {
    color: #3eaaaa;
}

.aqua-darken5 {
    background-color: #3eaaaa;
}

.text-beige-darken5 {
    color: #aa7435;
}

.beige-darken5 {
    background-color: #aa7435;
}

.text-autumnred-darken5 {
    color: #9f1104;
}

.autumnred-darken5 {
    background-color: #9f1104;
}

.text-autumngreen-darken5 {
    color: #080804;
}

.autumngreen-darken5 {
    background-color: #080804;
}

.text-autumnyellow-darken5 {
    color: #b47604;
}

.autumnyellow-darken5 {
    background-color: #b47604;
}

.text-autumnorange-darken5 {
    color: #b45604;
}

.autumnorange-darken5 {
    background-color: #b45604;
}

.text-autumnbrown-darken5 {
    color: #4e2502;
}

.autumnbrown-darken5 {
    background-color: #4e2502;
}

.text-camodarkgreen-darken5 {
    color: #222418;
}

.camodarkgreen-darken5 {
    background-color: #222418;
}

.text-camolightgreen-darken5 {
    color: #606444;
}

.camolightgreen-darken5 {
    background-color: #606444;
}

.text-camobrowngreen-darken5 {
    color: #b9c564;
}

.camobrowngreen-darken5 {
    background-color: #b9c564;
}

.text-camolightbrown-darken5 {
    color: #6b6649;
}

.camolightbrown-darken5 {
    background-color: #6b6649;
}

.text-camodarkbrown-darken5 {
    color: #120d07;
}

.camodarkbrown-darken5 {
    background-color: #120d07;
}

.text-red-lighten6 {
    color: #db4754;
}

.red-lighten6 {
    background-color: #db4754;
}

.text-orange-lighten6 {
    color: #fea48d;
}

.orange-lighten6 {
    background-color: #fea48d;
}

.text-yellow-lighten6 {
    color: #ffc433;
}

.text-flatyellow-lighten6 {
    color: #ffe99f;
}

.yellow-lighten6 {
    background-color: #ffc433;
}

.flatyellow-lighten6 {
    background-color: #ffe99f;
}

.text-green-lighten6 {
    color: #78b177;
}

.text-swampgreen-lighten6 {
    color: #448c96;
}

.green-lighten6 {
    background-color: #78b177;
}

.swampgreen-lighten6 {
    background-color: #448c96;
}

.text-blue-lighten6 {
    color: #4874aa;
}

.blue-lighten6 {
    background-color: #4e7cb4;
}

.text-brightblue-lighten6 {
    color: #6fc6b5;
}

.brightblue-lighten6 {
    background-color: #7acbbb;
}

.text-iceblue-lighten6 {
    color: #c8deee;
}

.iceblue-lighten6 {
    background-color: #d4e5f2;
}

.text-purple-lighten6 {
    color: #b6a5c4;
}

.purple-lighten6 {
    background-color: #b6a5c4;
}

.text-supreme-lighten6 {
    color: #ff624d;
}

.supreme-lighten6 {
    background-color: #ff624d;
}

.text-supremewhite-lighten6 {
    color: #f2f2f2;
}

.supremewhite-lighten6 {
    background-color: #f2f2f2;
}

.text-grey-lighten6 {
    color: #62848e;
}

.grey-lighten6 {
    background-color: #62848e;
}

.text-brown-lighten6 {
    color: #957851;
}

.brown-lighten6 {
    background-color: #957851;
}

.text-magenta-lighten6 {
    color: #bd6d83;
}

.magenta-lighten6 {
    background-color: #bd6d83;
}

.text-aqua-lighten6 {
    color: #9adada;
}

.aqua-lighten6 {
    background-color: #9adada;
}

.text-beige-lighten6 {
    color: #dcb98e;
}

.beige-lighten6 {
    background-color: #dcb98e;
}

.text-autumnred-lighten6 {
    color: #fa4634;
}

.autumnred-lighten6 {
    background-color: #fa4634;
}

.text-autumngreen-lighten6 {
    color: #646830;
}

.autumngreen-lighten6 {
    background-color: #646830;
}

.text-autumnyellow-lighten6 {
    color: #fbbd48;
}

.autumnyellow-lighten6 {
    background-color: #fbbd48;
}

.text-autumnorange-lighten6 {
    color: #fb9c48;
}

.autumnorange-lighten6 {
    background-color: #fb9c48;
}

.text-autumnbrown-lighten6 {
    color: #d76705;
}

.autumnbrown-lighten6 {
    background-color: #d76705;
}

.text-camodarkgreen-lighten6 {
    color: #737851;
}

.camodarkgreen-lighten6 {
    background-color: #737851;
}

.text-camolightgreen-lighten6 {
    color: #a9ad87;
}

.camolightgreen-lighten6 {
    background-color: #a9ad87;
}

.text-camobrowngreen-lighten6 {
    color: #e7ebca;
}

.camobrowngreen-lighten6 {
    background-color: #e7ebca;
}

.text-camolightbrown-lighten6 {
    color: #b2ad8e;
}

.camolightbrown-lighten6 {
    background-color: #b2ad8e;
}

.text-camodarkbrown-lighten6 {
    color: #78582d;
}

.camodarkbrown-lighten6 {
    background-color: #78582d;
}

.text-red-darken6 {
    color: #72161f;
}

.red-darken6 {
    background-color: #72161f;
}

.text-orange-darken6 {
    color: #f13301;
}

.orange-darken6 {
    background-color: #f13301;
}

.text-yellow-darken6 {
    color: #996d00;
}

.text-flatyellow-darken6 {
    color: #ffc506;
}

.yellow-darken6 {
    background-color: #996d00;
}

.flatyellow-darken6 {
    background-color: #ffc506;
}

.text-green-darken6 {
    color: #355b34;
}

.text-swampgreen-darken6 {
    color: #142a2c;
}

.green-darken6 {
    background-color: #355b34;
}

.swampgreen-darken6 {
    background-color: #142a2c;
}

.text-blue-darken6 {
    color: #1f3249;
}

.blue-darken6 {
    background-color: #1f3249;
}

.text-brightblue-darken6 {
    color: #358676;
}

.brightblue-darken6 {
    background-color: #307b6d;
}

.text-iceblue-darken6 {
    color: #6aa4d2;
}

.iceblue-darken6 {
    background-color: #5e9dce;
}

.text-purple-darken6 {
    color: #6a527e;
}

.purple-darken6 {
    background-color: #6a527e;
}

.text-supreme-darken6 {
    color: #b31500;
}

.supreme-darken6 {
    background-color: #b31500;
}

.text-supremewhite-darken6 {
    color: #a6a6a6;
}

.supremewhite-darken6 {
    background-color: #a6a6a6;
}

.text-grey-darken6 {
    color: #243034;
}

.grey-darken6 {
    background-color: #243034;
}

.text-brown-darken6 {
    color: #32281b;
}

.brown-darken6 {
    background-color: #32281b;
}

.text-magenta-darken6 {
    color: #642d3c;
}

.magenta-darken6 {
    background-color: #642d3c;
}

.text-aqua-darken6 {
    color: #3aa1a1;
}

.aqua-darken6 {
    background-color: #3aa1a1;
}

.text-beige-darken6 {
    color: #a06d32;
}

.beige-darken6 {
    background-color: #a06d32;
}

.text-autumnred-darken6 {
    color: #921003;
}

.autumnred-darken6 {
    background-color: #921003;
}

.text-autumngreen-darken6 {
    color: black;
}

.autumngreen-darken6 {
    background-color: black;
}

.text-autumnyellow-darken6 {
    color: #a76e03;
}

.autumnyellow-darken6 {
    background-color: #a76e03;
}

.text-autumnorange-darken6 {
    color: #a75003;
}

.autumnorange-darken6 {
    background-color: #a75003;
}

.text-autumnbrown-darken6 {
    color: #411f01;
}

.autumnbrown-darken6 {
    background-color: #411f01;
}

.text-camodarkgreen-darken6 {
    color: #1b1c13;
}

.camodarkgreen-darken6 {
    background-color: #1b1c13;
}

.text-camolightgreen-darken6 {
    color: #595c3f;
}

.camolightgreen-darken6 {
    background-color: #595c3f;
}

.text-camobrowngreen-darken6 {
    color: #b5c15a;
}

.camobrowngreen-darken6 {
    background-color: #b5c15a;
}

.text-camolightbrown-darken6 {
    color: #645f44;
}

.camolightbrown-darken6 {
    background-color: #645f44;
}

.text-camodarkbrown-darken6 {
    color: #080603;
}

.camodarkbrown-darken6 {
    background-color: #080603;
}
