.link-slide {
    font-size: 18px;
    width: 0;
}

.link-slide a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #9CF5A6;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

.link-slide a:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

.link-2:before {
    content: '';
    border-bottom: solid 1px #5CAAEF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.link-2:hover {
    color: #5CAAEF !important;
}

.link-2:hover:before {
    opacity: 1.0;
}

.link-2:before {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.link-6 a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.link-6 a {
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.link-7 a:before {
    content: '';
    border-bottom: solid 1px #d9534f;
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.link-7 a:hover:before {
    border-bottom: solid thin #d9534f;
    width: 40%;
    -webkit-animation: heartbeat-x 1.7s infinite ease-in;
    animation: heartbeat-x 1.7s infinite ease-in;
}

.link-7 a:hover {
    -webkit-animation: heartbeat 1.7s infinite ease-in;
    -webkit-animation-animation: heartbeat 1.7s infinite ease-in;
}
