body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: "Source Sans Pro";
    font-weight: lighter;
}

aside {
    left: 0;
    background-color: green;
    top: 0;
    height: 40vh;
    width: 40vw;
    margin-left: 10vh;
}

.info {
    margin: 0 auto;
}

section {
    position: absolute;
    height: 100vh;
    z-index: 200;
    width: 62vw;
    margin-left: 31vw;
    top: 0;
}

nav {
    background-color: #992f2e;
    position: absolute;
    height: 100vh;
    width: 7vw;
    right: 0;
    top: 0;
}

form {
    color: white;
}

input[type="text"], input[type="password"] {
    outline: none;
    color: white;
    background-color: #992f2e;
    border: 0;
    border-bottom: .1vh solid white;
}

input[type="text"] {
    margin-top: 5vh;
}

.push {
    padding-top: 30vh;
}

.box {
    background-color: #992f2e;
    margin: 0 auto;
    height: 18vh;
    width: 30vh;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 250px solid transparent;
    border-left: 250px solid #992f2e;
}

.rect {
    position: fixed;
    height: 100vh;
    width: 2vw;
    background-color: #992f2e;
    margin-left: 30vw;
    top: 0;
}
